@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: #2563eb;
  --font-sans: 'Outfit', sans-serif;
}

body {
  font-family: var(--font-sans);
}